.card {
  background-color: #f3eded;
  padding: 5px 2px;
  margin-bottom: 15px;
  max-width: 80%;
}

.description {
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  padding: 1px;
  color: #505050;
  line-height: 18px;
  max-height: 35px;
  margin-top: 5px;
}

.tags-row {
  display: flex;
  margin: 10px 0px;
}
