.hr-line {
  content: "";
  display: block;
  background-color: #c0b7b796;
  width: 100%;
  height: 1.5px;
}

.filter-options {
  padding: 16px;
  cursor: pointer;
}

.accordion-header {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.6px;
}

.dropDownIcon {
  float: right;
}

.dropDownIcon i {
  font-weight: 600;
}

.filter-search {
  padding: 0px 14px 5px;
}

.list-header {
  list-style: none;
  margin-bottom: 6px;
}

.list-header input {
  margin: 0px 6px;
}
